{% extends "base.html" %}
{% block title %} Home Page {% endblock%}
{% block content%}
<form action ="#" method="post">
    <center><p style = "color:white">Kindly enter the keyword: [Eg: Doctor, Gym, etc]</p></center>
    <center><p style = "color:white"><input type ="text" name = "nm" /> </p></center>
    <center><p style = "color:white">Kindly enter Location</p></center>
    <center><p style = "color:white"><input type ="text" name = "lc" /> </p></center>
    <center><p style = "color:white"><input type = "submit" value = "Submit" /></p></center>
</form>
{% endblock %}
